<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <link rel="icon" type="image/png" href="img/head_tit_logo.png">
    <title>OrbitRise</title>
    <link rel="stylesheet" href="css/commom.css">
    <link rel="stylesheet" href="css/login.css">
    <script src="js/jquery-3.7.1.min.js"></script>
    <script src="js/common.js"></script>
</head>
<body>
    <div class="login_wrap active">
        <img src="img/logo_subtit.png" alt="logo">
        <label>
            <input type="text" name="user_id" placeholder="Username">
            <span>유저 아이디를 입력하세요</span>
            <span>등록되지 않은 유저 아이디입니다</span>
        </label>
        <label>
            <input type="password" name="user_pw" placeholder="Password">
            <span>비밀번호를 입력하세요</span>
            <span>비밀번호가 틀렸습니다</span>
        </label>
        <button>로그인</button>
        <a href="#" onclick="view.sigmUpView()">계정이 없으신가요? 가입하기</a>
    </div>
    <div class="sign_up_wrap">
        <div class="tit">
            <h1><span>OrbitRise</span>에 가입하기</h1>
            <span class="close_btn" onclick="view.signUpClose()">×</span>
        </div>
        <div class="sign_up_content">
            <div class="acc_wrap">
                <h2 class="tit">계정 정보</h2>
                <label>
                    <span class="tit">유저 아이디</span>
                    <input type="text" name="user_id" placeholder="영어로 최소 3자 이상">
                </label>
                <label>
                    <span class="tit">비밀번호</span>
                    <input type="password" name="user_pw" placeholder="최소 6자 이상">
                </label>
                <label class="wtp100">
                    <span class="tit">유저 아이디</span>
                    <input type="text" name="user_id" placeholder="영어로 최소 3자 이상">
                </label>
                <label class="wtp100">
                    <span class="tit">유저 아이디</span>
                    <input type="text" name="user_id" placeholder="영어로 최소 3자 이상">
                </label>
            </div>
            <h2 class="tit">경력 정보</h2>
            <div class="btn_wrap">
                <label>
                    <button class="cancel">가입하기</button>
                </label>
            </div>
        </div>
    </div>
</body>
</html>